*{
  --squidColor: #3a4c88;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: '100%';
  width: '100%';
}
.center-div
{
  position: absolute;
  margin: auto;
  top: 50;
  right: 0;
  bottom: 0;
  left: 25;
  width: 575px;
  height: 500px;
  background-color: #cfd8dc;
  border: 5px solid #3a4c88;
  border-radius: 20px;
  padding:20px;
}

.progress-bar{
  position: relative;
  height: 10px;
  width: 550px;
  border-radius: 50px;
  border: 1px solid #3a4c88;
  margin: 10px;
}

.filler{
  background: #3a4c88;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}

input[type=file] {
  padding:5px; 
  border:1px solid #3a4c88; 
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 350px;
}

input[type=text] {
  padding:5px; 
  border:1px solid #3a4c88;
  width: 100px; 
}

.btn {
  border: 2px solid #3a4c88;
  background-color: white;
  color: 3a4c88;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  margin-left: 2%;
  margin-right: 2%
}

/* Green */
.upload {
  border-color: #3a4c88;
  color: #3a4c88;
}

.upload:hover {
  background-color: #3a4c88;
  color: white;
}