<md-sidenav-container id="sidenavContainer">
    <md-sidenav #sidenav id="sidenav" fxFlex="200px" fxFlex.gt-sm="250px">
        <md-toolbar color="primary">
            <button md-button class="menuButton" (click)="sidenav.close()">
                <md-icon>menu</md-icon>
            </button>
        </md-toolbar>
        <md-nav-list>
            <a md-list-item *ngFor="let path of paths" [routerLink]="[path.path]" routerLinkActive="active" (click)="sidenav.close() && pageChanged(path.name)">{{ path.name }}</a>
        </md-nav-list>
    </md-sidenav>
    <div id="outerContainer" fxLayout="column">
        <md-toolbar color="primary">
            <div fxFlex>
                <button md-button class="menuButton" (click)="sidenav.open()">
                    <md-icon>menu</md-icon>
                </button>
            </div>
            <h3>{{ currentPage }}</h3>
            <div fxFlex></div>
        </md-toolbar>
        <div fxFlex fxLayout="column">
            <router-outlet></router-outlet>
        </div>
    </div>
</md-sidenav-container>
