<mat-sidenav-container id="sidenavContainer">
    <mat-sidenav #sidenav id="sidenav" fxFlex="200px" fxFlex.gt-sm="250px">
        <mat-toolbar color="primary" id="mat-toolbar-row-home">
            <button mat-button class="menuButton" (click)="sidenav.close()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
        <mat-nav-list>
            <a mat-list-item *ngFor="let path of paths" [routerLink]="[path.path]" routerLinkActive="active" (click)="sidenav.close() && pageChanged(path.name)">{{ path.name }}</a>
        </mat-nav-list>
    </mat-sidenav>
    <div id="outerContainer" fxLayout="column">
        <mat-toolbar color="primary" id="mat-toolbar-row-home">
            <div fxFlex>
                <button mat-button class="menuButton" (click)="sidenav.open()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <h3>{{ currentPage }}</h3>
            <div fxFlex></div>
        </mat-toolbar>
        <div fxFlex fxLayout="column">
            <router-outlet></router-outlet>
        </div>
    </div>
</mat-sidenav-container>
