<div class="routerContainer" fxFlex>
  <div fxFlex fxLayout="column" fxLayoutGap="2%">
    <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="10px">
      <div fxFlex fxFlex.gt-sm="30" fxLayout="column" fxLayoutGap="30px" fxLayoutAlign="start start">
        <h3>Select Prawn XML File</h3>
        <div fxLayout="column">
          <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" (onFileDrop)="fileChosen()" [uploader]="uploader" class="well">
            Drop a prawn file here
          </div>
          <input type="file" ng2FileSelect [uploader]="uploader" (change)="fileChosen()" />
        </div>
      </div>
      <div fxFlex fxLayout="column" fxLayoutGap="30px" fxLayoutAlign="start start">
        <h3>Upload Status</h3>
        <table id="uploadTable">
          <thead>
            <tr>
              <th width="50%">Name</th>
              <th width="10%">Status</th>
              <th width="40%">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ currentFile?.file?.name }}</td>
              <td height="70">
                <div *ngIf="uploading || downloading">
                  <md-spinner id="statusSpinner" color="accent"></md-spinner>
                </div>
                <div *ngIf="currentFile?.isSuccess">
                  <md-icon>done</md-icon>
                </div>
                <div *ngIf="currentFile?.isError">
                  <md-icon>error_outline</md-icon>
                </div>
              </td>
              <td nowrap>
                <button type="button" class="btn btn-success btn-xs" (click)="uploadFile()" [disabled]="!currentFile || currentFile?.isReady || currentFile?.isUploading || currentFile?.isSuccess">
                  <span class="glyphicon glyphicon-upload"></span> Upload
                </button>
                <button type="button" class="btn btn-warning btn-xs" (click)="currentFile?.cancel()" [disabled]="!currentFile?.isUploading">
                  <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                </button>
                <button type="button" class="btn btn-danger btn-xs" (click)="removeCurrentFile()" [disabled]="!currentFile">
                  <span class="glyphicon glyphicon-trash"></span> Remove
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div id="uploadProgress">
          <div *ngIf="currentFile?.isUploading || currentFile?.isUploaded">
            <ng-container [ngSwitch]="uploading">
              <div *ngSwitchCase="true">
                <p *ngSwitchCase="true">Uploading prawn file...</p>
              </div>
              <div *ngSwitchCase="false" id="prawnDoneDiv" fxLayout="row">
                <p>Prawn file uploaded</p>
                <md-icon id="prawnDone">done</md-icon>
              </div>
            </ng-container>
            <md-progress-bar id="progressBar" color="accent" mode="determinate" [value]="fileProgress">
            </md-progress-bar>
            <div id="downloadContainer" [ngSwitch]="downloading">
              <div *ngSwitchCase="true" fxLayout="row">
                <p>Downloading {{ fileName }} file</p>
                <md-spinner color="accent" id="downloadSpinner"></md-spinner>
              </div>
              <ng-container *ngSwitchCase="false" [ngSwitch]="downloadSuccess">
                <ng-container *ngSwitchCase="true">
                  <div fxLayout="row">
                    <p>Download Success</p>
                    <md-icon id="prawnDone">done</md-icon>
                  </div>
                  <p><small><b>NOTE:</b> If you are using Safari you may not be able to download the "{{ fileName }}" file. If you are having issues, try using Chrome of Firefox.</small></p>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <div fxFlex fxLayout="column">
        <h3>Options</h3>
        <md-divider></md-divider>
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-around center">
          <md-slide-toggle [(ngModel)]="useSBM">Normalise Ion Counts to SBM</md-slide-toggle>
          <md-radio-group fxLayout="column" [(ngModel)]="useLinFits">
            <h4>Select Ratio Calculation Method:</h4>
            <md-radio-button [value]="true">Linear Regression to burn mid-time</md-radio-button>
            <md-radio-button [value]="false">Spot Average (time-invariant)</md-radio-button>
          </md-radio-group>
          <div id="rmSelect">
            <md-select placeholder="First Letter RM" [(ngModel)]="selectedRM">
              <md-option *ngFor="let rm of rmValues" [value]="rm">
                {{ rm }}
              </md-option>
            </md-select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
