:host {
  display: flex;
  flex-direction: row;
  flex: 1;
}

/* Fix for ng2fileselect */

#fileSelect{
  visibility: hidden;

}

// when dragging over drop box
.nv-file-over {
  border: solid 1px #25D226;
}

.routerContainer {
  padding: 30px;
}

#rmSelect {
  margin-top: 15px;
}

.font-18 {
  font-size: 18px;
}

/* Progress */
#progressBar {
  margin-top: 10px;
}
#prawnDoneDiv {
  height: 20px;
}
#prawnDone {
  margin-left: 4px;
  height: 18px;
  width: 18px;
  font-size: 18px;
}
#downloadContainer {
  margin-top: 10px;
}
#downloadSpinner {
  margin-left: 6px;
  height: 18px;
  width: 18px;
}
#statusSpinner {
  height: 24px;
  width: 24px;
}

/* Upload Table */
#uploadTable {
  width: 100%;

  thead {
    border-bottom: 3px solid rgba(0, 0, 0, 0.25);
  }
  td {
    padding: 15px 0px 15px 5px;
  }
}

#uploadProgress {
  width: 100%;
  height: 6em;
}
